<html>

<head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">
</head>

<body>
    <header>
        <h1>Corona Week {{.CW.Week}}</h1>
    </header>
    <main>
        <form method="GET" class="adminForm" >
            {{if .CanUpload}}
                    <button type="submit" formaction="/admin/upload/create">Pfostierzeit ist Abgelaufen!</button>
            {{else}}
                {{if .CanVote}}
                    <button type="submit" formaction="/admin/vote/create">Abstimmzeit ist vorbei!</button>
                    <button type="submit" formaction="/admin/upload/delete">Okay doch wieder pfostieren...</button>
                {{else}}
                    <button type="submit" formaction="/admin/vote/delete">Ich muss noch schnell meine Stimmen ändern...</button>
                {{end}}
            {{end}}
        </form>
    </main>
</body>

</html>