<html>

<head>
    <title>{{.User}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="apple-touch-icon" href="favicon.ico">

    <script src="static/elevator.min.js"></script>
</head>

<body>
    <header>
        <h1>{{.User}}</h1>
        <small>seine/ihre Kunstwerke</small>
    </header>
    <main>
        {{range $week_index, $bla := .Weeks}}
        <div class="week">
            <h2>Week {{.CW.Week}}</h2>
            <div class="maimais">
                {{range .Maimais}}
                <div class="meme card">
                    <a href="{{pathPrefix (.Href)}}" target="_blank" rel="noopener noreferrer">
                        <img src="{{pathPrefix (.Href)}}" class="maimai"
                            height="{{(.Preview).Size.Y}}"
                            width="{{(.Preview).Size.X}}"
                            style="background-image: url('data:image/jpg;base64,{{(.Preview).Image}}')"
                            loading="lazy" />
                    </a>
                    <p>{{.FileName}}</p>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
        <button class="elevator-button">Back to Top</button>
    </main>

    <script src="static/script.js"></script>
</body>

</html>