<html>

<head>
    <title>CW {{.Week}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <script src="/static/js/elevator.min.js"></script>
</head>

<body>
    <div class="navigate">
        <a class="card" id="prev" href="../CW_{{add .Maimais.CW.Week  -1 }}/">
            &lt; {{add .Maimais.CW.Week -1}}
        </a>
        <p>
            <a href='/'>/</a> &gt; <a href="../">{{.Maimais.CW.Year}}</a> &gt; <a href=".">CW {{.Maimais.CW.Week}}</a>
        </p>
        <a id="next" class="card" href="../CW_{{add .Maimais.CW.Week  1 }}/">
            {{add .Maimais.CW.Week 1}} &gt;
        </a>
    </div>
    <header>
        <h1>Corona Week {{.Week}}</h1>
    </header>
    <main>
        <div class="week">
            <div class="maimais">
                {{if .Maimais.Votes }}
                <div class="results card">
                    <h1>Ergebnisse CW_{{.Week}}</h1>
                    <table class="votesTable">
                        <tbody>
                            <tr>
                                <th>Votes</th>
                                <th>MaiMai</th>
                            </tr>
                            {{range $index, $vote := .Maimais.Votes}}
                            <tr>
                                <td>{{$vote.Votes}}</td>
                                <td><a href="{{$vote.Path}}">{{$vote.FileName}}</a></td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                {{end}}

                {{range .Maimais.Maimais}}
                <div class="meme card">
                    <a href="/{{pathPrefix (.Href)}}" target="_blank" rel="noopener noreferrer">
                        <img src="/{{pathPrefix (.Href)}}" loading="lazy" class="maimai" />
                    </a>
                    <div class="overlay">
                        <small>{{formatTime .UploadTime}}</small>
                        <p>{{.FileName}}</p>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div class="elevator-button">Back to Top</div>
    </main>

    <script src="/static/js/script.js"></script>
</body>

</html>