<html>

<head>
    <title>CW {{.Week}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <script src="/static/js/elevator.min.js"></script>
</head>

<body>
    <div class="navigate">
        <a class="card" id="prev" href="../CW_{{add .Maimais.CW.Week  -1 }}/">
            &lt; {{add .Maimais.CW.Week -1}}
        </a>
        <p>
            <a href='/'>/</a> &gt; <a href="../">{{.Maimais.CW.Year}}</a> &gt; <a href=".">CW {{.Maimais.CW.Week}}</a>
        </p>
        <a id="next" class="card" href="../CW_{{add .Maimais.CW.Week  1 }}/">
            {{add .Maimais.CW.Week 1}} &gt;
        </a>
    </div>
    <header>
        <h1>Corona Week {{.Week}}</h1>
    </header>
    <main>
        <div class="week">
            <div class="maimais">
                {{range .Maimais.Maimais}}
                <div class="meme card {{.User}}">
                    <a href="/{{pathPrefix (.Href)}}?webp=false" target="_blank" rel="noopener noreferrer" type="image">
                        <img src="/{{pathPrefix (.Href)}}" class="maimai" height="{{(.Preview).Size.Y}}"
                            width="{{(.Preview).Size.X}}"
                            style="background-image: url('data:image/jpg;base64,{{(.Preview).Image}}')"
                            loading="lazy" />
                    </a>
                    <div class="overlay">
                        <small>{{formatTime .UploadTime}}</small>
                        <p>{{.FileName}}</p>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div class="elevator-button">Back to Top</div>
    </main>

    <script src="/static/js/script.js"></script>
</body>

</html>