<html>

<head>
    <title>CY {{.Year}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <script src="/static/js/elevator.min.js"></script>
</head>

<body>
    <div class="navigate">
        <a class="card" id="prev" href="../{{add .Year -1}}/">
            &lt; {{add .Year -1}}
        </a>
        <p>
            <a href='/'>/</a> &gt; <a href="./">{{.Year}}</a>
        </p>
        <a id="next" class="card" href="../{{add .Year 1}}/">
            {{add .Year 1}} &gt;
        </a>
    </div>
    <header>
        <h1>Corona Year {{.Year}}</h1>
    </header>
    <main>
        <table class="cw-table">
            {{range.Weeks}}
            <tr>
                {{range .}}
                <td>
                    {{if ne .Week 0}} <a href="../{{.Path}}/">{{.Week}}</a>{{end}}
                </td>
                {{end}}
            </tr>
            {{end}}
        </table>
    </main>

    <script src="/static/js/script.js"></script>
</body>

</html>